.banner{
  background-image: url(../../assets/images/bg_home_mobile.jpg);
  background-size: cover;
  background-position: center center;
  padding-top: 85px;
  padding-bottom: 85px;
  @include pad-sm{
    background-size: contain;
  }
  @include pad {
    background-image: url(../../assets/images/bg_home.jpg);
    background-size: cover;
  }
  @include pad-lg{
    padding-top: 205px;
    padding-bottom: 205px;
  }
  &__content{
    padding-top: 32px;
    padding-bottom: 32px;
    @include pad-lg{
      padding-top: 52px;
      padding-bottom: 52px;
    }
  }
  &__title{
    font-size: 24px;
    @include pad {
      font-size: 32px;
    }
    @include pc {
      font-size: 48px;
    }
  }
  &__para{
   font-size: 14px;
   @include pad{
    font-size: 18px;
   }
  }
  & .square{
    width: 10px;
    height: 10px;
    transform: translate(50%,50%);
  }
}

.feature{
  &__title{
    &::after{
      @include pad-lg{
        color: #000;
      }
      @include pc{
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  & .card{
    border-radius: 12px;
    &-title{
      font-size: 18px;
    }
    &-text{
      font-size: 18px;
    }
    background: $dark;
    color: white;
    @include pad-lg{
        cursor: pointer;
        background: $light;
        color: $gray-600;
        & .text-gradient{
          color: $gray-600;
        }
        &:hover{
          outline: 1px solid $primary;
          background: $gray;
          color: white;
          & .text-gradient{
            color: transparent;
          }
        }
      }
  }
}

.procedure{
  & .card{
    padding-right: 32px;
    padding-left: 32px;
    @include pad{
      padding-right: 0;
      padding-left: 0;
      text-align: center;
    }
    @include pc{
      padding-left: 16px;
      text-align: left;
    }
    @include pc-lg{
      padding-right: 32px;
      padding-left: 32px;
      text-align: left;
    }
    &-number{
      top: 0;
      transform: translateY(-50%);
      @include pad{
        left: 10%;
      }
      @include pc-lg{
        left: auto;
      }
    }
    &-title{
      font-size: 24px;
    }
    &-text{
      font-size: 18px;
      @include pad-lg{
        font-size: 16px;
      }
      @include pc{
        font-size: 18px;
      }
    }
  }
}

.course{
  & .card{
    border-radius: 24px;
    &:hover{
      outline: 1px solid $primary;
    }
  }
  & .price{
    font-size: 32px;
    vertical-align: sub;
  }
}

.overlay{
  & .card{
    background-position: center center;
    background-size: cover;
    position: relative;
    &-title{
      &::after{
        @include pad-lg{
          margin-right: 0;
          margin-left: 0;
          background: rgba(255,255,255,0.5);
        }
      }
    }
    & .material-icons{
      color: $primary;
      @include pad-lg{
        color: rgba(255,255,255,0.5);
      }
    }
    &-body{
      z-index: 1;
      padding: 40px;
      background: rgba(0,0,0,0.9);
      &:hover{
        background: rgba(0,0,0,0.5);
        & .card-text{
          color: rgba(255, 255, 255, 1);
        }
        & .material-icons{
          color: $primary;
        }
        & .card-title:after{
          background: $primary;
        }
      }
      @include pad{
        padding: 52px 40px;
      }
      @include pad-lg{
        padding: 215px 32px;
      }
      @include pc{
        padding: 215px 44px;
      }
    }
    &-text{
      color: $white;
      @include pad-lg{
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  &__list{
    &:nth-child(1) .card{
      background-image: url(../images/info01.jpg);
    }
    &:nth-child(2) .card{
      background-image: url(../images/info02.jpg);
    }
    &:nth-child(3) .card{
      background-image: url(../images/info03.jpg);
    }
    &:nth-child(4) .card{
      background-image: url(../images/info04.jpg);
    }
  }
}

.article{
  & .card:hover{
    & .squareRounded{
      display: block;
    }
  }
}

.join{
  & .card{
    border-radius: 24px;
  }
  & .material-icons{
    font-size: 105px;
  }
  & .btn{
    flex-shrink: 0;
  }
}

.footer{
  background: #1A1A1A;
  color: $footer-gray;
  font-size: 12px;
  @include pad-lg{
    font-size: 16px;
  }
}

// btn-scrollbar
.btn-scrollbar{
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 0;
    height: 6px;
    display: none;
    @include pad-lg{
      display: block;
    }
  }
  &::-webkit-scrollbar-thumb {
    background-color: $gray-600;
    border-radius: 16px;
    border: 6px solid transparent;
  }
  & .btn{
    border: 1px solid #fff;
    &:hover{
        color: $primary;
        border-color: $primary;
    }
  }
}

// swiper
.swiper{
  background: black;
  @include pad-lg{
    background-size: contain;
    background-image: url(../images/bg_share.jpg);
  }
  & h2 :nth-child(2){
    @include pad{
      display: none;
    }
  }
  &-pagination{
    position: relative;
    &-bullet{
      background: $primary;
      opacity: 1;
      &-active{
        width: 24px;
        border-radius: 4px;
        background: $primary;
      }
    }
    &-bullets.swiper-pagination-horizontal{
      width: auto;
      bottom: 0;
    }
  }
  &-pagegroup{
    @include pad-lg{
      margin-left: 54px;
    }
  }
  &-button{
    &-prev,&-next{
      margin-top: 0;
      height: auto;
      left: 0;
      right: 0;
      bottom: -2px;
      position: relative;
    }
    &-prev::after,&-next::after{
      content: "";
    }
    &-prev{
      left: -14px;
    }
    &-next{
      left: 14px;
    }
  }
  & .card{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 24px;
    &-img{
      width: 80px;
      height: 80px;
      right: 32px;
      transform: translate(0%,-30px);
      @include pad-lg{
        width: 100px;
        height: 100px;
        transform: translate(0%,-50%);
      }
    }
    &-title{
      color: #494755;
    }
    &-text{
      color: #494755;
    }
  }
}

// swipe
.swipe{
  &-img{
    border-radius: 24px;
    top: -6px;
    left: 6px;
    @include pad-lg{
      top: -10px;
      left: 10px;
    }
    &-border{
      border-radius: 24px;
      outline: 1px solid #7C7E77;
      width: calc(100% - 6px);
      // top: 10px;
      // left: -10px;
      @include pad-lg{
        margin-left: 27px;
        width: 100%;
        top: 10px;
        left: -10px;
      }
    }
  }
  &-comment{
    @include pad-lg{
      margin-left: -27px;
      margin-right: 27px;
      bottom: -48px;
    }
  }
}

.intro{
  & .btn{
    border-radius: 8px;
  }
  & .card{
    border-radius: 24px;
    &:hover{
      outline: 1px solid $primary;
    }
    &-footer{
      border: none;
      flex-shrink: 0;
      @include pad-lg{
        width: 168px;
      }
    }
  }
  & .price{
    font-size: 32px;
  }
}
