.text-gradient{
    background-image: linear-gradient(180deg, $secondary, $primary);
    background-clip: text;
    color: transparent;
}
  
.title--underline{
    // 記得lh-base
    @include pad-lg{
        font-size: 28px;
    }
    &::after{
        content: "";
        display: block;
        margin: 0 auto;
        margin-top: 16px;
        width: 50px;
        height: 3px;
        background: $primary;
    }
}

.material-icons.md-50{
    font-size: 50px;
}
.material-icons.md-28{
    font-size: 28px;
}

.pd-set{
    padding-top: 40px;
    padding-bottom: 40px;
    @include pad-lg{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

.fs-lg{
    font-size: 48px;
}

.btn-scrollbar{
    overflow: overlay;
}
/* total width */
.btn-scrollbar::-webkit-scrollbar {
    height: 4px
}
/* scrollbar itself */
.btn-scrollbar::-webkit-scrollbar-thumb {
    background-color: $gray-600;
    border-radius: 16px;
    border: 6px solid transparent;
}

.gradient-custom{
    background-image: linear-gradient(104deg, $secondary, $primary);
  }

.object-fit-cover{
    object-fit: cover;
}

.opacity-50{
    opacity: 0.5;
}

.squareRounded{
    width: 32px;
    height: 32px;
    display: none;
    &-topLeft{
        border-top-left-radius: 10px;
        border-top: 1px solid $primary;
        border-left: 1px solid $primary;
    }
    &-topRight{
        border-top-right-radius: 10px;
        border-top: 1px solid $primary;
        border-right: 1px solid $primary;
    }
    &-bottomLeft{
        border-bottom-left-radius: 10px;
        border-bottom: 1px solid $primary;
        border-left: 1px solid $primary;
    }
    &-bottomRight{
        border-bottom-right-radius: 10px;
        border-bottom: 1px solid $primary;
        border-right: 1px solid $primary;
    }
}